
/** Colour guide

white -- #f7f7f9
black -- #150f00
yellow -- #f8bf00
light grey -- #ededed
dark grey -- #b9bbc3

fonts




*/

html {
  font-size: 16px;
}



/* Typography */

h1 {
  font-family: 'Molle', cursive;
  font-size: 2.25em;
}

h2 {
  font-family: 'Shrikhand', cursive;
  font-size: 2.25em;
}

h3 {
  font-family: 'Shrikhand', cursive;
  font-size: 1.875em;
}

nav a {
  font-family: 'Raleway', sans-serif;
  font-size: 1.5em;
}

p {
  font-family: 'Lato', sans-serif;
  font-size: 1.125em;
}
